pkl_files
GD1sampled_bar
GD1sampled_spiral
GMC_impacted_stream
dens_Omega
run_on_cluster
CDM_impacts
molecular_clouds
sampled_bar_spiral
sbatch
plots
sample_spraydf_subhalos
combine_bar_spiral_subhalos
paper_plots
pal5_impacted_pkl_files
GD1_GC_impact_params_leading_3.0Gyr
GD1_GC_impact_params_leading_4.0Gyr
GD1_GC_impact_params_leading_5.0Gyr
GD1_GC_impact_params_leading_6.0Gyr
GD1_GC_impact_params_leading_7.0Gyr
GD1_GC_impact_params_trailing_3.0Gyr
GD1_GC_impact_params_trailing_4.0Gyr
GD1_GC_impact_params_trailing_5.0Gyr
GD1_GC_impact_params_trailing_6.0Gyr
GD1_GC_impact_params_trailing_7.0Gyr
GD1_GMC_impact_params_leading_3.0Gyr
GD1_GMC_impact_params_leading_4.0Gyr
GD1_GMC_impact_params_leading_5.0Gyr
GD1_GMC_impact_params_leading_6.0Gyr
GD1_GMC_impact_params_leading_7.0Gyr
GD1_GMC_impact_params_trailing_3.0Gyr
GD1_GMC_impact_params_trailing_4.0Gyr
GD1_GMC_impact_params_trailing_5.0Gyr
GD1_GMC_impact_params_trailing_6.0Gyr
GD1_GMC_impact_params_trailing_7.0Gyr
